.arabic-carousel {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, #006655 60%, #e6e2d3 40%);
  direction: rtl;

  @media (min-width: 768px) {
    background: linear-gradient(to right, #006655 60%, #e6e2d3 40%);
  }

  .carousel-content {
    width: 100%;
    padding: 1rem;
    position: relative;

    @media (min-width: 768px) {
      padding: 2rem;
    }
  }

  .text-content {
    color: #000000;
    margin-bottom: 2rem;
    text-align: right !important;
    margin-right: 10rem;
    width: 25%;
    @media screen and (max-width: 768px) {
      width: 50%;
      margin-right: 100px;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: #373737;

      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
    }
  }

  .swiper-container {
    width: 100%;
  }
  .swiper-wrapper {
    margin-top: 0px !important;
  }
  .swiper-slide {
    height: 250px;

    @media (min-width: 768px) {
      height: 350px;
    }
  }

  .carousel-item {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;

    .image-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        transition: all 0.3s ease;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        padding: 1rem;

        h3 {
          color: #fff;
          font-size: 1rem;
          transition: transform 0.3s ease;
          text-align: right;

          @media (min-width: 768px) {
            font-size: 1.2rem;
          }
        }

        .view-details {
          opacity: 0;
          color: #fff;
          border: none;
          margin-left: 3rem;
          border-radius: 4px;
          font-size: 0.8rem;
          cursor: pointer;
          transition: all 0.3s ease;
        }
      }

      &:hover {
        .overlay {
          background: linear-gradient(
            to top,
            rgba(0, 102, 85, 0.9),
            rgba(0, 102, 85, 0.7) 70%,
            transparent
          );
          height: 100%;

          h3 {
            transform: translateY(-20px);
          }

          .view-details {
            opacity: 1;
          }
        }
      }
    }
  }

  .swiper-button-container2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    width: 130px;
    height: 40px;

    @media (min-width: 768px) {
      top: 170px;
      left: 100px;
      transform: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-button-next {
    background-image: url('/arrow.png');
  }

  .swiper-button-prev {
    background-image: url('/arrow2.png');
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      display: none;
    }
  }
}
